body, html {
    height: 100%;
    margin: 0;
    font-size: 1.2em;
}

input {
    font-size: 1.2em;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    font-size: 1.2em;
    border-radius: 4px;
    border: none;
}

select {
    font-size: 1.2em;
    width: 10em;
    padding: 3px;
}

button:hover {
    background-color: #919191;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 1 40px;
    border-bottom: medium solid rgba(255, 255, 255, 0.5);
}

.content__body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    overflow-y: auto;
    padding: 10px;
}

.content__image {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    align-self: center;
    align-items: center;
}

#hashtag-png {
    filter: invert(100%);
}

.content__body__info {
    display: flex;
    flex-direction: column;
}

.content__body__info {
    color: #958677;
}

.content__footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 0 1 40px;
    border-top: medium solid rgba(255, 255, 255, 0.5);
}

.content__categories__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: category-header;
    border: thin solid whitesmoke;
    border-radius: 8px;
}

.content__categories__header h1 {
    display: flex;
    justify-content: center;
}

.content__hashtags__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: hashtag-header;
    border: thin solid whitesmoke;
    border-radius: 8px;
}

.content__hashtags__header h1 {
    display: flex;
    justify-content: center;
}

.content__body__container {
    flex: 1;
    display: grid;
    justify-items: stretch;
    grid-column-gap: 25px;
    /*border: thin solid whitesmoke;*/
    /*border-radius: 8px;*/
    grid-template-areas: "category-header hashtag-header";
}

a:visited, a:link, a:hover, a:active {
    /*text-decoration: none;*/
}