body {
    color: #c60021;
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header header" "categories hashtags" "footer footer";
}

#categories {
    grid-area: categories;
    border: thin solid red;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 20% 80%;
    grid-template-areas: "categories-header" "categories-info";
}

#categories .categories__header {
    grid-area: categories-header;
}

#categories .categories__info {
    grid-area: categories-info;
    /*display: grid;*/
}

#hashtags {
    grid-area: hashtags;
    border: thin solid red;
    display: grid;
    justify-content: center;
    grid-template-rows: 20% 80%;
    grid-template-areas: "hashtags-header" "hashtags-info";
}

#hashtags .hashtags__header {
    grid-area: hashtags-header;
    /*display: grid;*/
}

#hashtags .hashtags__info {
    grid-area: hashtags-info;
    /*display: grid;*/
}

html {
    height: 100%;
    background-color: #e3e3e3;
    overflow: hidden;
}

header {
    grid-area: header;
    background-color: #f6f6f8;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    grid-area: footer;
    position: relative;
    background-color: #f6f6f8;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #c60021;
}