<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="${title}"></title>

</head>
<body>

<h1 th:text="${title}">Default Title</h1>

<label for="categories">
    <select id="categories">
        <option>Casual</option>
        <option>Athletic</option>
    </select>
</label>

<form method="post">

    <input type="text" name="reviewName" placeholder="Name"/>
    <input type="text" name="reviewDescription" placeholder="Description"/>
    <input type="submit" value="Add A Review!"/>

</form>


</body>

</html>