<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <title>Models Review</title>
</head>


<body>

<header>
    Hello Top
</header>

<h1>Categories</h1>

<!--<div id="content" th:each="category : ${categories}">-->
<table>
    <thead>
    <tr>
        <th>Type</th>
        <th>Reviews</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${categories.isEmpty()}">
        <td colspan="2">No categories</td>
    </tr>
    <tr th:each="category : ${categories}">
        <td><span th:text="${category.getName()}">Name</span></td>
        <td><span th:text="${category.getReviews()}">Data</span></td>
    </tr>
    </tbody>
</table>
<!-- Thymeleaf stuff -->
<!--</div>-->

<footer>
    Hello Bottom
</footer>

</body>
</html>