<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
    <meta charset="UTF-8">
    <title>Models Review</title>
</head>


<body>

<h3 class="nav"><a href="/categories">Categories</a></h3>
<h3 class="nav"><a href="/reviews">Reviews</a></h3>
<h3 class="nav"><a href="/hashtags">Hashtags</a></h3>


<header>
    Hello Top
</header>

<h1>Categories</h1>

<div id="content" th:each="category : ${categories}">
    <h2><a th:text="${category.getName()}" th:href="@{'/categories/' + ${category.getName()}}">Category</a></h2>
</div>

<form action="/categories/add-category" method="POST">
    <input type="text" name="name" placeholder="Category Name">
    <button type="submit">Add Category</button>
</form>

<footer>
    Hello Bottom
</footer>

</body>
</html>