<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>#Hashtags</title>

</head>


<body>

<h3 class="nav"><a href="/categories">Categories</a></h3>
<h3 class="nav"><a href="/reviews">Reviews</a></h3>
<h3 class="nav"><a href="/hashtags">Hashtags</a></h3>


<h1 th:text="${hashtag.getName()}">Hashtag</h1>

<h2 th:each="review : ${hashtag.getReviews()}">
    <a th:text="${review.getReviewTitle()}" th:href="@{'/reviews/' + ${review.getId()}}">Review</a>
</h2>


</body>

</html>