<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Hashtags</title>

</head>


<body class="content">

<header class="content__nav">
    <h3><a href="/categories">Categories</a></h3>
    <h3><a href="/reviews">Reviews</a></h3>
    <h3><a href="/hashtags">Hashtags</a></h3>
</header>

<div class="content__body">

    <h1>Hashtags</h1>

    <h2 th:each="hashtag : ${hashtags}">
        <a th:text="${hashtag.getName()}" th:href="@{'/hashtags/' + ${hashtag.getId()}}">
            Hashtag
        </a>
    </h2>
    <form action="/hashtags/add-hashtag" method="POST">
        <input type="text" name="hashtag" placeholder="Hashtag name"/>
        <button type="submit">Add Hashtag</button>
    </form>

</div>

<footer class="content__footer"><h3><a href="/">Home</a></h3></footer>

</body>

</html>