<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Hashtags</title>

</head>
<body>

<h1>Hashtags</h1>

<h2 th:each="hashtag : ${hashtags}">
    <a th:text="${hashtag.getName()}" th:href="@{'/hashtags/' + ${hashtag.getId()}}">
        Hashtag
    </a>
</h2>
<form action="/hashtags/add-hashtag" method="POST">
    <input type="text" name="hashtag" placeholder="Hashtag name"/>
    <button type="submit">Add Hashtag</button>
</form>

</body>

</html>