<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="review : ${reviews}">
    <h2  th:text="${review.userName}" class="review__username">Default User Name</h2>

    <h1 th:text="${review.name}" class="review__name">Default Title</h1>
    <h3 th:text="${review.price}" class="review__price">Default Price</h3>

    <p>Review Content</p>

</div>

</body>
</html>