<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="review : ${reviews}">
    <h2  th:text="${review.userName}" class="review__username">Default User Name</h2>

    <h1 class="review__name"><a th:text="${review.reviewTitle}" th:href="@{'/reviews/' + ${review.getId()}}">Default
        Title</a></h1>
    <h3 th:text="${review.price}" class="review__price">Default Price</h3>

    <p th:text="${review.getDescription()}">Description</p>

</div>

<form action="/reviews/add" method="POST">
    <input type="text" name="reviewName" placeholder="Review Name"/>
    <input type="text" name="reviewDescription" placeholder=" Review"/>
    <input type="number" name="reviewPrice" placeholder="Price" min="0" max="500"/>


    <button type="submit">Add Review</button>


</form>


</body>



</html>